@charset "utf-8";
body {
	font-family:Arial, Helvetica, sans-serif;
	color: black;
}

/* Horizontal Navigation Menu*/
.mainNav ul
{
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style-type:none;
	margin-bottom: 25px;
}

.mainNav img
{
	float:left;
	width:200px;
	background-image:url(../images/nav.png);
	background-repeat:repeat-x;
	padding:0.2em 0.6em;
	border-right:1px solid #333;
}

.mainNav a
{
	float:left;
	width:125px;
	height: 32px;
	text-decoration:none;
	text-align:center;
	color:white;
	background-image:url(../images/nav.png);
	background-repeat:repeat-x;
	padding:0em 0.6em;
	border-right:1px solid #333;
	line-height:2;
}

.mainNav a:hover {
	background-image:url(../images/nav_hover.png);
	background-repeat:repeat-x;
}

.mainNav li {
	display:inline;
}

.mainNav li:first-child img {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border:none;
}

.mainNav li:first-child + li a {
	border-left:1px solid #333;
}

.mainNav li:last-child a {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border:none;
}

/* Clear floats*/
.clear {
	float: none;
}

/* Left Navigation Menu*/
.leftNavigation {
	float:left;
	width: 210px;
	border:none;
	font-size: 10px;
	padding-left: 10px;
}

.leftNavigation ul{
	list-style-type: none;
	padding:0;
}

.leftNavigation ul li{
	text-align: left;
	padding-top: 4px;
}

#pageContent {
	float: left;
	width: 435px;
	font-size: 10px;
}
	
	